go 1.26.2

use (
	.
	./examples/2d
	./examples/3d
	./examples/app
	./examples/asset
	./examples/audio
	./examples/diagnostic
	./examples/ecs
	./examples/networking
	./examples/physics
	./examples/stress_test
	./examples/ui
	./examples/world
)
